<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect non-www to www
  RewriteCond %{HTTP_HOST} ^lukmeg\.no [NC]
  RewriteRule ^(.*)$ https://www.lukmeg.no/$1 [L,R=301]

  # Existing React Router rules
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule> 